.two-col-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    min-height: 280px;
    margin-top: 40px;
    column-gap: 30px;
    row-gap: 30px;
}

.two-col-hero .col-hero-content {
    width: 1fr;
    min-width: 280px;
}

.two-col-hero .col-hero-image {
    border-radius: var(--radius-sm);
}

.two-col-hero .col-hero-form {
    width: 1.5fr;
    display: grid;
    row-gap: var(--row-gap-sm);
    padding: var(--row-gap-sm);
    border-radius: var(--radius-sm);
}

.book-card {
    display: grid;
    place-content: center;
    width: 280px;
    row-gap: var(--row-gap-sm);
    border-radius: var(--radius-sm);
    background-color: #fafaf9;
    padding: var(--padding-card-sm);
}

.book-card img {
    height: 200px;
    justify-self: center;
}