.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: var(--padding-md);
    padding-top: var(--padding-sm);
}

.btn {
    background-color: var(--gray-50);
    padding: var(--btn-padding-sm);
    border-radius: var(--radius-sm);
    transition: all 150ms ease;
}

.btn:hover {
    background-color: var(--gray-200);
    transform: scale(1.05);
}

.nav-menu-sidebar {
    position: absolute;
    top: 65px;
    right: 20px;
    width: 80vw;
    max-width: 480px;
    transition: var(--transition-short);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-lg);
    overflow-y: clip;
}

.n-m-s--header {
    background-color: var(--surface-primary);
    padding: var(--padding-sm);
    padding-left: calc(var(--padding-sm) + var(--margin-shim-sm));
    font-size: var(--font-xl);
    font-weight: 600;
    color: var(--stone-600);
}

.n-m-s--content {
    background-color: var(--gray-100);
}

.n-m-s--li {
    display: flex;
    padding: var(--padding-sm);
    padding-left: calc(var(--padding-sm) + var(--margin-shim-sm));
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.n-m-s--li:hover {
    background-color: var(--stone-300);
    color: var(--stone-800);
}