.xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.sm {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.base {
    font-size: 1rem;
    line-height: 1.75rem;
}

.lg {
    font-size: 1.125rem;
    line-height: 2rem;
}

.xl {
    font-size: 1.2rem;
    line-height: 2rem;
}

.t-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.t-3xl {
    font-size: 2rem;
    line-height: 2.5rem;
} 

.t-4xl {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.t-5xl {
    font-size: 3.rem;
    line-height: 3.5rem;
}

.t-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.t-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

.t-8xl {
    font-size: 6rem;
    line-height: 1;
}

.t-9xl {
    font-size: 8rem;
    line-height: 1;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}