<nav class="nav-menu">
    <button
        class="btn" 
        type="button"
        script="on click toggle .d_hidden on #nav_menu_sidebar"
    >
        {% include 'svg/icon-menu.njk' %}
    </button>

    <div id="nav_menu_sidebar" class="d_hidden nav-menu-sidebar">
        <h3 class="n-m-s--header">Biblio</h3>
        <div class="n-m-s--content">
            <button 
                class="n-m-s--li"
                alt="home"
                href="/home"
            >
                Reviews
                {% include 'svg/icon-arrow-right.njk' %}
            </button>

            <button 
                class="n-m-s--li"
                alt="Process"
                href="/create"
            >
                Process
                {% include 'svg/icon-arrow-right.njk' %}
            </button>
            
            <button 
                class="n-m-s--li"
                alt="Process"
                href="/contact"
            >   
                About
                {% include 'svg/icon-arrow-right.njk' %}
            </button>
        </div>
    </div>
</nav> 