{% extends 'base.njk' %}

{% block content %}
    <main>
        <div>
            <h1>Bibl.io</h1>
            <p>good book recs. One review at a time</p>     
        </div>
    </main>    
{% endblock %}